@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$font-color: #000;
$hover-color: #FF69B4;
$font-family: 'Quicksand', sans-serif;
$dark-bg-color: #E7E91A;


/* header */

* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0;
    background-color: #fff;
  }

    .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /*position: relative;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


header {
    display: flex;
    flex-direction: column;
     
}

.top {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}


  /*hamburger*/

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

    /*hamburger*/

.menu a {
    padding: 0.5em 0.8em;
    display: inline-block;
    color: $font-color;
    text-decoration: none;
  }
  
.menu li {
    background-color: transparent;
    display: inline-block;
    font-weight: bold;
  }

.top-nav {
    display: flex;
    margin: 5px;
    justify-content: center;
    background-color: $dark-bg-color;
    position: fixed;
    width: 1200px;
}

.top {
    display: flex;
}

.top img {
    height: 400px;
    width: 400px;
    
}

h1 {
    font-family: $font-family;
    margin-left: 150px;
    align-self: center;
    font-size: 60px;
    margin-top: 80px;
}

h1 a {
    text-transform: uppercase;
    font-family: $font-family;
    color: $font-color;
    text-decoration: none;
}

h2, top-nav li, h3 {
    gap: 1rem;
    text-transform: uppercase;
    font-family: $font-family;
    color: $font-color;
    
}


p, ul {
    font-family: $font-family;
    color: $font-color;
    line-height: 1.7em;
    font-weight: bold;
}


/* main page */


.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-h {
    align-self: center;
    margin-bottom: 50px;
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.info-box img {
    border-radius: 50%;
    margin-top: 100px;
   
    
}

.info-text {
    display: flex;
    flex-direction: column;
}

h2 {
    align-self: center;
}

.info-text p {
    align-self: center;
    flex-basis: 350px;
    margin: 50px;
  
}

/* Sections */

section {
    padding: 0 30px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    flex-wrap: wrap;
}

.main article {
    text-align: center;
    margin-bottom: 50px;
}

.main div {
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 85px;

}


section.main article .history {
    background-image: url(../images/history-fill-svgrepo-com.svg);
}

section.main article .studies {
    background-image: url(../images/study-svgrepo-com.svg);
}


section.main article .skills {
    background-image: url(../images/skills-svgrepo-com.svg);
}

section.main article .hobbies {
    background-image: url(../images/drawing-svgrepo-com.svg);
}

section.main article .goals {
    background-image: url(../images/goals-svgrepo-com.svg);
}

article a {
    text-decoration: none;
    color: $font-color;
}

.main article p {
    font-weight: 300;
}

section .quote {
    display: flex;
    height: 50px;
   
}

blockquote {
    position: relative;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: 1px solid #E7E91A;
    border-bottom: 1px solid #E7E91A;
}

blockquote p {
    position: relative;
    margin: 0;
    line-height: 1;
    font-weight: 800;
} 

blockquote p.quote {
    margin-top: 20px;
    font-style: italic;
    font-size: 1.2em;
}

blockquote p.credit {
    margin-bottom: 20px;
}

blockquote::before {
    position: absolute;
    content: '”';
    color:#E7E91A;
    font-size: 5em;
    line-height: 0;
    right: 30px;

}


/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
    background-color: $dark-bg-color;

}

.symbols {
    font-size: 20px;
}

i {
    margin-right: 10px;
    font-size: 30px;
}

.symbols a {
    text-decoration: none;
    color: $font-color;
}


/* SHOWCASE PAGE */



.info-box-showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;

}
.info-box-showcase img {
    padding: 10px;
    margin-bottom: 80px;
    margin-right: 20px;
    
    }

.info-box-showcase a {
        text-decoration: none;
        color: $font-color;
    }
    
.info-box-showcase li a:hover {
        color: $hover-color;
    }

strong {
    text-transform: uppercase;
    color: $font-color;
}

@media screen and (min-width: 939px)  {

    .info-box-showcase {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 150px;
    }

    .main-article {
        flex-basis: 420px;

    }
}

@media screen and (min-width: 600px) and (max-width: 940px) {

    .info {
        margin: 50px;
        width: 100%;
    }
    .info-box {
        display: flex;
        flex-direction: row;
        margin-left: 150px;
    }

    .info-box img {
        flex-basis: 350px;
    }

    .info-text p {
        flex-direction: row;
        width: 500px;
    }

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: 150px;
        width: 850px;
    }

    .main article {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        flex-basis: 220px;
    }


    blockquote {
        margin-left: 300px;
    }

    .info-box-showcase {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 150px;

    }

}

@media screen and (min-width: 280px) and (max-width: 599px) {

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .main div {
        margin: 5px;

    }

    .top-nav {
        
        justify-content: center;
        background-color: $dark-bg-color;
        position: fixed;
        width: 100%;
        margin: 0;
    }

  /* hamburger */

    .menu {
        display: none;
        position: absolute;
        background-color: $dark-bg-color;
        right: 0;
        left: 0;
        font-size: 0.9em;
        margin-bottom: 50px;

    }

    .menu li:hover {
       display: inline-block;
       transition: 0.3s ease;
       background-color: $hover-color;
    }

    .menu li {
        margin-top: 15px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;

    }

    .hamburger {
        display: block;
    }


    .top img {
        margin-top: 50px;
        height: 250px;
        width: 250px;
        align-self: center;
    }

    h1 {
        font-size: 50px;
        margin-top: 10px;
        text-align: center;
        margin-left: 15px;
        
    }

    .info-box, .footer-container, .boxes {
        flex-wrap: wrap;
    }


    .info-box {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .info-box img {
    width: 250px;
    height: 250px;
    }

    

    .about {
        align-self: flex-end;
    }

    .skills {
        width: 100%;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: #ffc;
        opacity: 0.6;
    }

    .history, .skills, .goals {
        align-content: flex-start;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        background-color: $dark-bg-color;
        padding: 10px;
        margin: 0;
    
    }

    .info-box-showcase {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;

    }

    .info-box-showcase img {
        margin-bottom: 50px;
        margin-top: 50px;
        width: 100%;
        }

        i {
            margin-right: 5px;
            font-size: 20px;
        }

}